*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 25px 25px;
    max-width: 2100px;
    height: 75px;
    background-color: rgb(163, 119, 38);
    color: #A37726;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

li{
    color: white;
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.col-33{
    color: black;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 15px;
    width: calc(100% / 3);
}
.col-33 img{
    width: 170px;
    margin: 16px;
    cursor: pointer;
}

.row{
    width: 100%;
    display: flex;
}

.content{
    margin: 10px;
    position: relative;
}

.content img{
    width: 100%;
}

.prezzo{
    color: rgb(220, 28, 28);
}

.sconto{
    text-decoration: line-through;
}

.label{
    width: 85px;
    font-size: 14px;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
}

.green{
    background-color: rgb(15, 125, 15);
    color: white;
    position: absolute;
    top: 350px;
    left: 80px;
}

.green-2{
    background-color: rgb(15, 125, 15);
    color: white;
    position: absolute;
    top: 350px;
    left: 20px;
}

.red{
    background-color: red;
    color: white;
    top: 350px;
    left: 20px;
    width: 50px;
}
.red-1{
    background-color: red;
    color: white;
    top: 350px;
    left: 25px;
    width: 50px;
}

.overlay{
    opacity: 0;
    color: white;
    width: 100%;
    position: absolute;
    top: 0%;
}

.col-33:hover .overlay{
    opacity: 1;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    height: 70px;
}

ul{
    list-style-type: none;
}

.simbol{
    position: absolute;
    top: 20px;
    left: 265px;
    cursor: pointer;
    background-color: white;
}
.simbol:hover{
    background-color: red;
}